.App {
  text-align: center;
}

.word {
  display: flex;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.hangman {
  display: flex;
  width: 30%;
  height: 20%;
}

.wrongTries {
  position: absolute;
  top: 20px;
  right: 20px;
  flex-direction: row;
  text-align: center;
}

.message {
  visibility:hidden;
}

.message.show {
  visibility: visible;
}