.App {
  text-align: center;
}

.word {
  margin-left: 30%;
  margin-top: 0px;
  width: 70%;
  font-size: xx-large;
  display: flex;
}

.hangman {
  display: flex;
  width: 30%;
  height: 20%;
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: flex;
  font-size: xx-large;
  align-items: right;
  justify-content: right;
  margin: 0 3px;
  height: 10%;
  width: 10%;
}